@import "tailwindcss";


@plugin "daisyui" {
   themes:all;
 }




@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(2deg);
  }
}

.wiggle-animation{
  animation: wiggle 1.5s ease-in-out infinite;
}


/* FullCalendar responsive + styles */
.fc {
  max-width: 100%;
  overflow-x: auto;
}

.fc .fc-toolbar-chunk {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fc .fc-toolbar-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.fc .fc-button {
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  background-color: #f3f4f6;
  color: #111827;
  border: 1px solid #d1d5db;
  font-weight: 500;
  transition: all 0.2s;
}

.fc .fc-button:hover {
  background-color: #e5e7eb;
}



/* FullCalendar mobile tweaks */
@media (max-width: 768px) {
  .fc .fc-col-header-cell {
    font-size: 0.7rem;  /* réduit le texte des jours */
    padding: 0.25rem;   /* réduit les paddings */
    white-space: normal; /* permet le retour à la ligne si trop long */
  }

  .fc .fc-daygrid-day {
    min-width: 60px; /* réduit la largeur minimale d'une cellule */
  }
}
