@import "tailwindcss";


@plugin "daisyui" {
   themes:all;
 }


.fc {
  @apply text-base-content;
}

.fc-toolbar-title {
  @apply text-sm font-bold;
}

.fc-button {
  @apply btn btn-sm btn-outline;
}

.fc-day-today {
  @apply bg-accent;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(2deg);
  }
}

.wiggle-animation{
  animation: wiggle 1.5s ease-in-out infinite;
}


